.storybook-button--submit {
  color: white;
  background: linear-gradient(#0097c1, #61dafb, #0097c1);
  border-color: #0097c1;
}

.storybook-button--submit:hover {
  z-index: 1;
  background: linear-gradient(#61dafb, #0097c1, #61dafb);
  border-color: #0097c1;
  border-radius: 9px;
  box-shadow: 5px 10px 15px #61dafb;
  outline: none;
}

.storybook-button--purple {
  color: white;
  background: linear-gradient(#a800a2, #ff00f7, #a800a2);
  border-color: #a800a2;
}

.storybook-button--purple:hover {
  z-index: 1;
  background: linear-gradient(#ff00f7, #a800a2, #ff00f7);
  border-color: #a800a2;
  border-radius: 9px;
  box-shadow: 5px 10px 15px #ff00f7;
  outline: none;
}
