.button-submit {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-style: solid;
  border-radius: 9px;
  cursor: pointer;
  padding: 3rem;
  color: white;
  margin-top: 10px;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  transition-property: color, background, width, height, margin, padding, border,
    box-shadow;
}

.button-submit::selection {
  background: transparent;
}

.button-submit--blue {
  color: white;
  background: linear-gradient(#61dafb, #0097c1, #61dafb);
  border-color: #0097c1;
}

.button-submit--blue:hover {
  z-index: 1;
  background: linear-gradient(#0097c1, #61dafb, #0097c1);
  border-color: #0097c1;
  border-radius: 9px;
  box-shadow: 5px 10px 15px #61dafb;
  outline: none;
}

.button-submit--purple {
  color: white;
  background: linear-gradient(#a800a2, #ff00f7, #a800a2);
  border-color: #a800a2;
}

.button-submit--purple:hover {
  z-index: 1;
  background: linear-gradient(#ff00f7, #a800a2, #ff00f7);
  border-color: #a800a2;
  border-radius: 9px;
  box-shadow: 5px 10px 15px #ff00f7;
  outline: none;
}

.button-submit-small {
  font-size: 12px;
  padding: 10px 16px;
}
.button-submit-medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button-submit-large {
  font-size: 16px;
  padding: 12px 24px;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
