.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(12px + 2vmin);
  text-align: center;
  background-image: url("../../assets/question-mark-icon.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 140px;
}

.container-dark {
  background-color: #282c34;
  color: white;
}

.container-light {
  background-color: white;
  color: #282c34;
}

.section-container {
  line-height: 34px;
  padding: 5px 20px;
  margin: 0 auto;
  max-width: 800px;
}
