.title {
  font-weight: 900;
  line-height: 1;
  margin: 40px 0px;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
}

.title--dark {
  color: white;
}

.title--light {
  color: #282c34;
}

.title--small {
  font-size: 20px;
  padding: 5px;
}
.title--medium {
  font-size: 30px;
  padding: 8px;
}
.title--large {
  font-size: 40px;
  padding: 10px;
}
