.title {
  font-weight: 900;
  line-height: 1;
  margin: 20px 0px;
  display: inline-block;
  vertical-align: top;
}

.title--dark {
  color: white;
}

.title--light {
  color: #282c34;
}

.title--small {
  font-size: 20px;
  padding: 10px;
}
.title--medium {
  font-size: 25px;
  padding: 15px;
}
.title--large {
  font-size: 45px;
  padding: 35px;
}
