.github-button {
  color: transparent;
  text-decoration: none;
  margin-top: 40%;
  margin-bottom: -40%;
}

.github-button--primary {
  color: transparent;
}

.github-button--secondary {
  color: #61dafb;
}
