.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-message {
  color: white;
  background: #61dafb;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.form-label--dark,
.form-input--dark {
  color: white;
}

.form-label--light,
.form-input--light {
  color: #282c34;
}

.form-label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
  margin: 8px;
}
.form-input:focus {
  z-index: 1;
  border-color: transparent;
  border-radius: 3px;
  background-color: white;
  box-shadow: 5px 10px 18px #61dafb;
  outline: none;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  transition-property: color, background, width, height, margin, padding, border,
    box-shadow;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-input-error {
  margin: 8px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
  border-color: red;
  transition: 1s ease-in-out;
}

.form-input-error:focus {
  z-index: 1;
  border-color: transparent;
  border-radius: 3px;
  background-color: white;
  box-shadow: 5px 10px 18px red;
  outline: none;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  transition-property: color, background, width, height, margin, padding, border,
    box-shadow;
}

.form-input-error::placeholder {
  color: #ff0000;
}

.error {
  color: #ff0000;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
