.gift-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: transparent;
  border: none;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  cursor: pointer;
  padding: 3rem;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  transition-property: color, background, width, height, margin, padding, border,
    box-shadow;
}

.gift-button::selection {
  user-select: none;
}

.gift-logo {
  pointer-events: none;
  user-select: none;
}

.gift-button--primary {
  color: var(--react-blue);
  background: transparent;
}

.gift-button--primary:hover {
  z-index: 1;
  border-radius: 50%;
  box-shadow: #ff0066 10px 22px 70px 4px, inset 10px 22px 70px 4px #ff0066;
}

.gift-button--secondary {
  color: #ff0055;
  background: transparent;
}

.gift-button--secondary:hover {
  z-index: 1;
  border-radius: 50%;
  box-shadow: var(--react-darker-blue) 10px 22px 70px 4px,
    inset 10px 22px 70px 4px var(--react-darker-blue);
}

.gift-button--small {
  font-size: 11px;
  padding: 12px 24px;
}
.gift-button--medium {
  font-size: 12px;
  padding: 13px 28px;
}
.gift-button--large {
  font-size: 13px;
  padding: 14px 32px;
}
