.page-not-found-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  text-align: center;
  transition: background-color 0.3s ease-in-out, filter 0.6s ease-in-out;
}
