.app-wrapper {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #0000001a;
  background-color: #1e1e1e;
  padding: 12px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 100%;
  position: fixed;
  transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  transition-property: color, background, width, height, margin, padding, border,
    box-shadow;
}

.app-wrapper--dark {
  background-color: #1e1e1e;
  color: white;
  box-shadow: inset 0 0 50px #1e1e1e, /* inner white */ inset 20px 0 80px gray;
}
.app-wrapper--light {
  background-color: white;
  color: #1e1e1e;
  box-shadow: inset 0 0 50px white, /* inner white */ inset 20px 0 80px #cecece;
}

.app-h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

.pointer {
  cursor: pointer;
}
