.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.one-button {
  background-color: transparent;
  color: transparent;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  padding: 3px;
}
.one-button:hover {
  background-color: #272727;
}

.two-button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  padding: 3px;
}
.two-button:hover {
  background-color: #535353;
}

.way-button {
  background-color: #535353;
  border-radius: 9px;
  cursor: pointer;
  padding: 3px;
  color: white;
}
.way-button:hover {
  background-color: #272727;
}
