.question-icon {
  color: var(--react-blue);
  outline: none;
}

.question-icon::selection {
  background: transparent;
}

.question-button {
  background: transparent;
  padding: 0px;
  border: none;
  margin-top: 30px;
}

.question-button::selection {
  background: transparent;
}

.question-tooltip {
  background-color: var(--react-blue);
  color: white;
  text-align: center;
  padding: 7px;
  border-radius: 6px;
  max-width: 120px;
  bottom: 100%;
  left: 50%;
  margin-top: 0px;
}

.question-tooltip:after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-top: 0px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--react-blue) transparent transparent transparent;
}
